:root{
  --main: #262626;
  --text: #c9c9c9;
  --textSec: #f1f1f1;
  --highLight: #2E4159;
}

.work-feature-block {
  padding: 10px 0;
  border-top: 4px solid var(--highLight);
  border-bottom: 4px solid var(--highLight);
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
}
.btn-back {
  margin: 4rem;
}
.customBody{
  background-color: var(--main);
}
.customText{
  color: var(--text);
}
.customSec{
  color: var(--textSec);
}
