* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #262626;
  --text: #c9c9c9;
  --textSec: #f1f1f1;
  --highLight: #2e4159;
}

#CustomHeader {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.row {
  min-width: 100%;
}

.img {
  border-top: 5px solid black;
  padding-top: 15px;
}

img {
  max-height: 689.61px;
  max-width: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
}

#watchLater li {
  margin-left: 1rem;
}
h5 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.customBody {
  background-color: var(--main);
  color: var(--text);
}

.titlepadding {
  padding: 2% 0;
}

.customText {
  color: var(--text);
}
.customSec {
  color: var(--textSec);
}
.webHeader {
  border-bottom: 1.5rem solid var(--main);
  background-color: var(--highLight);
  color: var(--textSec);
}
.img{
  

}
