* {
  margin: 0;
  padding: 0;
}

:root{
  --main: #262626;
  --text: #c9c9c9;
  --textSec: #f1f1f1;
  --highLight: #2E4159;
}

#CustomHeader {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
}

#watchLater li {
  margin-left: 1rem;
}
h5{
  text-align: center;

}
.customBody{
  background-color: var(--main);
}
.customText{
  color: var(--text);
}
.customSec{
  color: var(--textSec);
}